.menu{
    text-decoration: none;
    padding-left: 400px;
    display: flex;
    flex-direction: row;
    gap: 35px;
}
.menu a:hover{
    border-bottom: solid  #8A2D5E;
    transition: all ease-in .1S;
}
.icon__user{
    padding-left: 620px;
    display: flex;
    gap: 10px;
    align-items: flex-end;
}
