* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    height: 100vh;
    background-color: #F8FAFE;
    display: grid;
    grid-template-areas: 
        "header" 
        "main" 
        "footer";
    grid-template-areas: 100px 1fr 100px;
}
header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 36px;
    padding-top: 31px;
    gap: 35px;
    align-items: center;
    font-family: 'Poppins', sans-serif; 
}
.menuCabecalho{
    padding-left: 400px;
}
main{
    grid-area: main;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-template-areas: 
    "social description personagem";
    padding-left: 150px;
    grid-template-columns: 50px 1fr 48px;
    padding: 0 100px;
}
.social{
    grid-area: social;
    background-color: green;
}
.search{
    color: white;
}
.personagem{
    grid-area: personagem;
    background-color: brown;
}
.action{
    background-color: #383838;
    color: white;
    text-decoration: none;
    height: 57px;
    width: 362px;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 19.71px;
}
footer{
    grid-area: footer;
    display: flex;
}