* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menuCabecalho{
    display: inline-block;
    position: absolute;
    gap: 35px;
    height: 27px;
    place-items: center;
}
main{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.title{
    position: relative;
    grid-column: 1/4;
    font-weight: 400;
    font-size: 15.71px;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.subtitle{
    position: relative;
    grid-column: 5/1;
    font-family: Gill Sans MT;
    color: #8A2D5E;
    font-weight: 700;
    font-size:80px;
}
.nomePersonagem{
    position: relative;
    grid-column: 3/1;
    font-weight: 600;
    font-size: 23px;
    font-family: 'Nunito', sans-serif;
}
.description{
    grid-column: 5/1;
    font-weight: 400;
    font-size: 15.71px;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.homemDeFerro{
    grid-column: 11/8;
}
.action{
    background-color: #383838;
    color: white;
    text-decoration: none;
    height: 57px;
    width: 362px;
    grid-column: 5/1;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 19.71px;
}